In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler,OneHotEncoder,LabelEncoder

In [4]:
data1 = pd.read_excel("/content/drive/MyDrive/DATASCIENCEASSIGNMENT/(INPUT) Rigobuilder RAW.xlsx")
data2 = pd.read_excel("/content/drive/MyDrive/DATASCIENCEASSIGNMENT/INPUTUSER ID.xlsx")

In [5]:
data1.shape

(21, 5)

In [6]:
data2.shape

(21, 2)

In [7]:
totaldata = pd.merge(data2,data1,on="User ID",how ="inner")

In [8]:
totaldata.head(5)

,Team Name,User ID,S No,Name,total_statements,total_reasons
0,Winning Culture Lab,280,1,Soumita M,13,21
1,Winning Culture Lab,75,2,Subhangi,13,16
2,Winning Culture Lab,1124,3,Nitin Shane,12,11
3,Mentor,295,4,Merwin,13,12
4,Human Capital Lab,263,5,fardinkamal62,2,2

In [9]:
totaldata

,Team Name,User ID,S No,Name,total_statements,total_reasons
0,Winning Culture Lab,280,1,Soumita M,13,21
1,Winning Culture Lab,75,2,Subhangi,13,16
2,Winning Culture Lab,1124,3,Nitin Shane,12,11
3,Mentor,295,4,Merwin,13,12
4,Human Capital Lab,263,5,fardinkamal62,2,2
5,Human Capital Lab,504,6,__riddhi_213_,2,7
6,Mentor,266,7,Rohit Dutta,3,3
7,Tech Lab,71,8,imshawan,9,9
8,Brandtech Lab,342,9,Anuraj_Saini,7,7
9,Student Unicorn Lab,3367,10,sharath,8,8
10,Tech Lab,302,11,Ronak 0,16,19
11,Brandtech Lab,336,12,Amrit Malviya,2,4
12,Mentor,271,13,Saurabh,6,8
13,Student Unicorn Lab,3169,14,darshimalde,3,3
14,Tech Lab,100,15,Shagun,2,2
15,Student Unicorn Lab,3406,16,Ayisha,11,8
16,Growpital,69,17,Palash,6,7
17,Growpital,539,18,raman,5,5
18,Growpital,299,19,Nishant,4,5
19,Kringle,3408,20,Vatsal,2,2
20,Kringle,360,21,devmenkr,7,7

In [10]:
totaldata.dtypes

Team Name           object
User ID              int64
S No                 int64
Name                object
total_statements     int64
total_reasons        int64
dtype: object

In [11]:
totaldata.columns

Index(['Team Name', 'User ID', 'S No', 'Name', 'total_statements',
       'total_reasons'],
      dtype='object')

In [12]:
cat_cols =['Team Name', 'User ID','Name']

In [13]:
num_cols =['total_statements', 'total_reasons']

In [14]:
totaldata[cat_cols] = totaldata[cat_cols].astype('category')

In [15]:
totaldata[num_cols] = totaldata[num_cols].astype('float64')

In [16]:
totaldata.dtypes

Team Name           category
User ID             category
S No                   int64
Name                category
total_statements     float64
total_reasons        float64
dtype: object

In [17]:
totaldata.isnull().sum()

Team Name           0
User ID             0
S No                0
Name                0
total_statements    0
total_reasons       0
dtype: int64

In [18]:
totaldata

,Team Name,User ID,S No,Name,total_statements,total_reasons
0,Winning Culture Lab,280,1,Soumita M,13.0,21.0
1,Winning Culture Lab,75,2,Subhangi,13.0,16.0
2,Winning Culture Lab,1124,3,Nitin Shane,12.0,11.0
3,Mentor,295,4,Merwin,13.0,12.0
4,Human Capital Lab,263,5,fardinkamal62,2.0,2.0
5,Human Capital Lab,504,6,__riddhi_213_,2.0,7.0
6,Mentor,266,7,Rohit Dutta,3.0,3.0
7,Tech Lab,71,8,imshawan,9.0,9.0
8,Brandtech Lab,342,9,Anuraj_Saini,7.0,7.0
9,Student Unicorn Lab,3367,10,sharath,8.0,8.0
10,Tech Lab,302,11,Ronak 0,16.0,19.0
11,Brandtech Lab,336,12,Amrit Malviya,2.0,4.0
12,Mentor,271,13,Saurabh,6.0,8.0
13,Student Unicorn Lab,3169,14,darshimalde,3.0,3.0
14,Tech Lab,100,15,Shagun,2.0,2.0
15,Student Unicorn Lab,3406,16,Ayisha,11.0,8.0
16,Growpital,69,17,Palash,6.0,7.0
17,Growpital,539,18,raman,5.0,5.0
18,Growpital,299,19,Nishant,4.0,5.0
19,Kringle,3408,20,Vatsal,2.0,2.0
20,Kringle,360,21,devmenkr,7.0,7.0

In [31]:
result = totaldata.groupby(['Team Name'])['total_statements','total_reasons'].agg(['mean'])

In [32]:
print(result)

                     total_statements total_reasons
                                 mean          mean
Team Name
Brandtech Lab                4.500000      5.500000
Growpital                    5.000000      5.666667
Human Capital Lab            2.000000      4.500000
Kringle                      4.500000      4.500000
Mentor                       7.333333      7.666667
Student Unicorn Lab          7.333333      6.333333
Tech Lab                     9.000000     10.000000
Winning Culture Lab         12.500000     16.000000
Winning Culture Lab         13.000000     16.000000

In [33]:
totaldata.dtypes

Team Name           category
User ID             category
S No                   int64
Name                category
total_statements     float64
total_reasons        float64
dtype: object

In [42]:


# Identify the categorical columns that need to be encoded
cat_columns = ['Team Name', 'User ID', 'Name']

# Create an instance of the LabelEncoder class
le = LabelEncoder()

# Fit the LabelEncoder instance to the categorical data
for col in cat_columns:
    totaldata[col] = le.fit_transform(totaldata[col])

# Verify the transformed data
print(totaldata)

    Team Name  User ID  S No  Name  total_statements  total_reasons
0           7        7     1    11              13.0           21.0
1           8        2     2    12              13.0           16.0
2           7       16     3     5              12.0           11.0
3           4        8     4     3              13.0           12.0
4           2        4     5    17               2.0            2.0
5           2       14     6    14               2.0            7.0
6           4        5     7     7               3.0            3.0
7           6        1     8    18               9.0            9.0
8           0       12     9     1               7.0            7.0
9           5       18    10    20               8.0            8.0
10          6       10    11     8              16.0           19.0
11          0       11    12     0               2.0            4.0
12          4        6    13     9               6.0            8.0
13          5       17    14    15               3.0            3.0
14          6        3    15    10               2.0            2.0
15          5       19    16     2              11.0            8.0
16          1        0    17     6               6.0            7.0
17          1       15    18    19               5.0            5.0
18          1        9    19     4               4.0            5.0
19          3       20    20    13               2.0            2.0
20          3       13    21    16               7.0            7.0